services:
  nuxt-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    working_dir: /app
    read_only: true
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true